{{page-title 'Edit'}}
<form {{on 'submit' this.editPost}}>
  <div>
    <label for="title">
      Title
    </label>
    <Input @type="type" id="title" @value={{this.model.title}} />
  </div>
  <div>
    <label for="body">
      Post
    </label>
    <Textarea id="body" rows="8" cols="80" @value={{this.model.body}} />
  </div>
  <button type="submit" data-test="publish">
    Edit post
  </button>
</form>
{{outlet}}
